html {
    font-family: "Gloria Hallelujah", cursive;
}
body {
    background-color: #111111;
}

h1,
h2 {
    color: white;
}

h1 {
    margin: 2rem auto 4rem;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

footer {
    color: white;
    text-align: center;
    margin-top: 24rem;
    font-size: 1.5rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

/* -------------------------Index.html------------------ */
/* ---------audio-------- */
.speaker-icon {
    fill: white;
    position: fixed;
    top: 0.8rem;
    left: 0.5rem;
}

.speaker-icon-muted {
    display: none;
}

/* -------------Difficulty View--------- */

.difficulty-view {
    display: none;
    margin: 7rem auto 3rem;
    text-align: center;
}
.difficulty-view.loaded {
    display: block;
    animation: fade-in 2s ease-in normal;
}

.difficulty-view.fade-out {
    animation: fade-out 1s;
}

.difficulty-view:last-child {
    margin-right: 0;
}
.difficulty-btns {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-family: "Gloria Hallelujah", cursive;
}

.wheel-view {
    margin: 1rem auto 0;
    display: none;
}

.wheel-images-wrapper {
    margin: 0 auto;
}

#wheel-svg {
    position: relative;
    display: block;
    width: 60rem;
    margin: 0 auto;
    transform-origin: center;
}

#triangle-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 11rem;
    left: 47%;
}
