html {
    font-family: "Gloria Hallelujah", cursive;
}
body {
    background-color: #111111;
}

h1,
h2 {
    color: white;
}

h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

@keyframes fade-in {
    0% {
        /* transform: translateY(-100%); */
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }

    100% {
        /* transform: translateY(2rem); */
        opacity: 1;
    }
}

/* -------------------------Index.html------------------ */
.speaker-icon {
    fill: white;
    position: fixed;
    top: 0.8rem;
    left: 0.5rem;
}

.difficulty-view {
    display: none;
    margin: 10rem auto 3rem;
    text-align: center;
}
.difficulty-view.loaded {
    display: block;
    animation: fade-in 3s ease-in normal;
}

.difficulty-view:last-child {
    margin-right: 0;
}
.difficulty-btns {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-family: "Gloria Hallelujah", cursive;
}

.wheel-view {
    margin: 10rem auto;
    display: none;
}

.wheel-images-wrapper {
    margin: 0 auto;
}

#wheel-img {
    position: relative;
    display: block;
    width: 55rem;
    margin: 0 auto;
}

#triangle-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 16.7rem;
    left: 47.1%;
}

/* ---------------------------Keyframes--------------------- */
